
/* CODE BY KAUVERY SINGH */

body{
    /* height to make it responsive */
    height: 90vh;
    background-image: url(/bg.jpg)
    /*background-image: linear-gradient(rgb(255, 255, 255), rgb(109, 39, 239));*/
    /*this shows that we can also use gradients or solid colors as bg*/
}

.logo{
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
}

h1{
    margin-top: 0px;
    font-size: 35px;
    font-family: monospace ;
    text-align: center;
    color: rgb(255, 255, 255);
}
.container{
    max-width: 950px;
    /*border: 2px solid black;*/
    /* border can be made if needed */
    border-radius: 15px;
    margin: auto;
    height: 55vh;
    padding: 30px;
    /* this overflow attribute is used so that if message content overflows a scroll bar will appear */
    overflow-y: auto;
    /* to make scroll smooth */
    scroll-behavior: smooth;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.300);
}

.message{
    padding: 10px;
    margin: 2px;
    /*border: 2px solid black;*/
    border-radius: 10px;
    font-family: monospace ;
    font-size: 16px;
    color: rgb(255, 255, 255);
    height: auto;
    max-width: 750px;
    width: auto;
    /* to wrap the words if its size is larger than the message container size */
    word-wrap: break-word;
}

.left{
    float: left;
    clear:both;
    background-color: rgba(0, 0, 0, 0.650);
}

.right{
    float: right;
    clear:both;
    background-color: rgba(1, 95, 1, 0.650);
}

#send-container{
    display:block;
    margin: auto;
    text-align: center;
    max-width: 1085px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#messageInp{
    width: 80%;
    border: 3px solid black;
    border-radius: 10px;
    height: 33px;
    font-size: 15px;
    font-family: monospace ;
}

.btn{
    margin: 0px 3px;
    min-width: auto;
    width: 75px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    height: 36px;
    background-color: rgb(0, 0, 0);
    font-size: large;
}


/* all below properties are to design the scroll bar */
::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.450);
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 128, 0, 0.650);
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: green;
    border-radius: 15px;
  }


/* CODE BY KAUVERY SINGH */
